<a href="https://colab.research.google.com/github/evillamizar1/BTE320/blob/main/In_class_assignments_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

August 26th

In [ ]:
r=3
pi=3.14
h=10
Area= 2*pi*r**2+2*pi*r*h
print(Area)

244.92000000000002

September 9th

In [ ]:
p1= input('1, 2, 3 Rock, Paper or Scissor ')
p2= input('1, 2, 3 Rock, Paper or Scissor ')

if p1==p2:
    print('tie')
elif p1== 'Rock' and p2== 'Paper':
    print('p2 wins')
elif p1== 'Rock' and p2== 'Scissor':
    print('p1 wins')
elif p1== 'Paper' and p2== 'Rock':
    print('p1 wins')
elif p1== 'Paper' and p2== 'Scissor':
    print('p2 wins')
elif p1== 'Scissor' and p2== 'Paper':
    print('p1 wins')
elif p1== 'Scissor' and p2== 'Rock':
    print('p2 wins')

1, 2, 3 Rock, Paper or Scissor Rock
1, 2, 3 Rock, Paper or Scissor Paper
p2 wins

September 11th

In [ ]:
n1= float(input('enter a number '))
n2= float(input('enter a number '))
symbol= input('enter a symbol among the following options +, -, *, /,** ')

if symbol=='+':
    print((n1)+(n2))
if symbol=='-':
    print((n1)-(n2))
if symbol=='*':
    print((n1)*(n2))
if symbol=='/':
    print((n1)/(n2))
if symbol=='**':
    print((n1)**(n2))

enter a number 5.5
enter a number 4
enter a symbol among the following options +, -, *, /,** +
9.5

In [ ]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl.metadata (10 kB)
Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset=True

if reset:
  clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)

forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

penup()
end_fill()

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset=True

if reset:
  clear()

color('black', 'pink')
shape('blank')
begin_fill()
jumpto(0,0)

for i in range(4):
  forward(100)
  left(90)

penup()
end_fill()

In [ ]:
for i in range(0,11,2):
  print(i, end=' ')

0 2 4 6 8 10

**SEPTEMBER 16th**

In [ ]:
choice= input('Do you want to play a game, yes or no?')

while choice == 'yes':


  p1= input('1, 2, 3 Rock, Paper or Scissor ')
  p2= input('1, 2, 3 Rock, Paper or Scissor ')

  if p1==p2:
    print('tie')
  elif p1== 'Rock' and p2== 'Paper':
    print('p2 wins')
  elif p1== 'Rock' and p2== 'Scissor':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Rock':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Scissor':
    print('p2 wins')
  elif p1== 'Scissor' and p2== 'Paper':
    print('p1 wins')
  elif p1== 'Scissor' and p2== 'Rock':
    print('p2 wins')

  choice= input('Do you want to play a game, yes or no?')

Do you want to play a game, yes or no?yes
1, 2, 3 Rock, Paper or Scissor Paper
1, 2, 3 Rock, Paper or Scissor Rock
p1 wins
Do you want to play a game, yes or no?no

In [ ]:
choice= input('Do you want to play a game, yes or no?').lower()

while choice == 'yes':


  p1= input('1, 2, 3 Rock, Paper or Scissor ').lower()
  p2= input('1, 2, 3 Rock, Paper or Scissor ').lower()

  if p1==p2:
    print('tie')
  elif p1== 'Rock' and p2== 'Paper':
    print('p2 wins')
  elif p1== 'Rock' and p2== 'Scissor':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Rock':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Scissor':
    print('p2 wins')
  elif p1== 'Scissor' and p2== 'Paper':
    print('p1 wins')
  elif p1== 'Scissor' and p2== 'Rock':
    print('p2 wins')

  choice= input('Do you want to play a game, yes or no?')

In [ ]:
choice= input('Do you want to play a game, yes or no?').lower()

while choice == 'yes':


  p1= input('1, 2, 3 Rock, Paper or Scissor ').lower()
  p2= random.choice([ '1, 2, 3 Rock, Paper or Scissor '])

  if p1==p2:
    print('tie')
  elif p1== 'Rock' and p2== 'Paper':
    print('p2 wins')
  elif p1== 'Rock' and p2== 'Scissor':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Rock':
    print('p1 wins')
  elif p1== 'Paper' and p2== 'Scissor':
    print('p2 wins')
  elif p1== 'Scissor' and p2== 'Paper':
    print('p1 wins')
  elif p1== 'Scissor' and p2== 'Rock':
    print('p2 wins')

  choice= input('Do you want to play a game, yes or no?')

SEPTEMBER 18th

In [ ]:
flat_rate= 5
hour_rate= 2.5

for i in range (1, 9,1):
     print(i,flat_rate + hour_rate*i )

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
flat_rate= 5
hour_rate= 2.5

for i in range (1, 9, 1):
  if flat_rate + hour_rate*i < 11:
    print(i, 10)

  elif flat_rate + hour_rate*i > 20:
    print(i, 20)

  elif flat_rate + hour_rate*i > 11:
    print(i,flat_rate + hour_rate*i )

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
flat_rate= 5
hour_rate= 2.5

for i in range (1, 9, 1):
  if flat_rate + hour_rate*i < 11:
    print(i, 10)

  elif flat_rate + hour_rate*i < 21:
    print(i,flat_rate + hour_rate*i )

  else:
    print(i, 20)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for ad in range (0, 201, 25):
  additional= 2* round(ad**(0.5)) #the ,5 gives 5 decimals
  profit= (20+additional)*10 -200-ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
while cond:
  expr
  if cond2:
    break

    #if false expr expr expr

September 25th

In [ ]:
L = []
i = int(input('Give a Value: '))

while i != 0:
  L.append(i)
  i = int(input('Give another Value: '))

print(L)

Give a Value: 6
Give another Value: 9
Give another Value: 9
Give another Value: 0
[6, 9, 9]

September 30th

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[names[i]]= numbers[i]

print(months)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(1,13):
  months[i]= names[i-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

Remote Lecture

In [ ]:
annual_salary = float(input('Enter Salary: '))
portion_saved = float(input('Enter Portion to Save (as a decimal): '))
total_cost = float(input('Enter the Cost of the House: '))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment
current_savings = 0
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + (portion_saved * (annual_salary / 12))
    months += 1

print(f"Number of months: {months}")

Enter Salary: 80
Enter Portion to Save (as a decimal): 0.9
Enter the Cost of the House: 90
Number of months: 4

In [ ]:
annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter the percent of your salary to save, as a decimal: '))
total_cost = float(input('Enter the cost of your dream home: '))
semi_annual_raise = float(input('Enter the semi-annual raise, as a decimal: '))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment
current_savings = 0
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + (portion_saved * (annual_salary / 12))
    months += 1

    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

print(f"Number of months: {months}")

Enter your annual salary: 89
Enter the percent of your salary to save, as a decimal: 0.8
Enter the cost of your dream home: 90
Enter the semi-annual raise, as a decimal: 0.8
Number of months: 4

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

print(range_check(2, 1, 3))

True

October 21st

In [ ]:
#A parking garage charges $5 plus $2.5 for each hour parked. Wirte a program does
#promts for the number of hours parked, calcs and displays the parking fee charged
#as part of program, define function that calculates the parking fee given the hours. Use the signtaure: def calcFee(hours)

In [ ]:
def calcFee(hours):
  base_fee= 5
  return hours*2.5 + base_fee

hours= int(input('Enter the number of hours parked: '))

print("$",calcFee(hours) )

Enter the number of hours parked: 5
$ 17.5

In [ ]:
def calcFee(hours, decimals=2):
  fee= round(5 + hours* 2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)

hours_parked= int(input('Enter the number of hours parked: '))
f=calcFee(hours_parked)
displayFee(f)

Enter the number of hours parked: 4
15.0

Monday October 28th

In [ ]:
def rev(s):
    if len(s) == 1:
        return s
    else:
        return s[-1]+ rev(s[:-1])

print(rev('hello'))

olleh

November 6th

In [ ]:
"""
Function that calculates the weighted average of a list L, given weights Q
The function should be able to handle the following error types:
- ZeroDivisionEror (Return empty list)
- TypeError (Return empty list)
- Any other known error (returns float("nan"))
"""

def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i]) #we use append because the list is empty and we want to add these
    return sum(res) / sum(w)
  except ZeroDivisionError:
    return []
  except TypeError:
    print('Non numerical object found')
    return []
  except Exception as e:
    print(f"unknown error: {e} ")
    return float("nan")

wAvg([1,2,3], [.2,0,-.2,])

[]

Novemver 11th

In [3]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

In [4]:
Student1 = Student('James Bond', '007')
Student2 = Student('Clark Kent', '333')

In [5]:

print(Student1.name, Student1.number)
print(Student2.name, Student2.number)

James Bond 007
Clark Kent 333